{% extends "base.html" %}

{% block addTitle %}<title>Log In</title>{% endblock %}

{% block body %}

  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

  <form action='.' method='post'>
    <p>
    	<label for="username">User name:</label>
    	<input type="text" name="username" value="" id="username">
    </p>
    <p>
    	<label for="password">Password:</label>
    	<input type="password" name="password" value="" id="password">
    </p>
    <p><input type="submit" value="Login" /></p>
    <input type="hidden" name="next" value="{{ next }}" />
  <form action='.' method='post'>

{% endblock %}